/*------Header middle sub-menu  style--------*/

.menu-wrapper ul li {
    position: relative;
}

.menu-wrapper .sub-menu {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 270px;
    background: #fff;
    transition: .2s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 25px 0px 25px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.menu-wrapper ul li:hover .sub-menu {
    top: 87px;
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.menu-wrapper .sub-menu li {
    position: relative;
    line-height: 2;
    display: block;
    text-align: left;
    transition: .3s;
    cursor: pointer;
}

.menu-wrapper .sub-menu li a::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    height: 1px;
    width: 15px;
    background: #14a800;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.menu-wrapper .sub-menu li:hover a {
    padding-left: 35px;
    color: #14a800 !important;
}

.menu-wrapper .sub-menu li:hover a i {
    color: #7744D9 !important;
}

.menu-wrapper .sub-menu li:hover a::after {
    visibility: visible;
    position: absolute;
    left: 8px;
    opacity: 1;
}

.menu-wrapper .sub-menu li a {
    font-size: 16px;
    padding: 8px 15px;
    display: block;
    line-height: 1.3;
    transition: .3s;
    letter-spacing: normal;
    text-transform: capitalize;
    margin: 0 !important;
    color: #616161 !important;
}

.menu-wrapper .sub-menu li a i {
    color: #555 !important;
    background: #fff !important;
    transition: .3s;
}

/* ---------------Sub-menu-2 -------------------*/ 

.menu-wrapper ul li {
    position: relative;
}

.menu-wrapper .sub-menu-2 {
    position: absolute;
    top: 120px;
    left: -630px;
    width: 1000px;
    height: 450px;
    background: #fff;
    transition: .3s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 25px 0px 25px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.menu-wrapper ul li:hover .sub-menu-2 {
    top: 87px;
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.menu-wrapper .sub-menu-2 li {
    position: relative;
    line-height: 2;
    display: block;
    text-align: left;
    transition: .3s;
    cursor: pointer;
}

.menu-wrapper .sub-menu-2 li a::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    height: 1px;
    width: 15px;
    background: #14a800;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.menu-wrapper .sub-menu-2 li:hover a {
    padding-left: 35px;
    color: #14a800 !important;
}

.menu-wrapper .sub-menu-2 li:hover a i {
    color: #7744D9 !important;
}

.menu-wrapper .sub-menu-2 li:hover a::after {
    visibility: visible;
    position: absolute;
    left: 8px;
    opacity: 1;
}

.menu-wrapper .sub-menu-2 li a {
    font-size: 14px !important;
    padding: 8px 15px;
    display: flex;
    line-height: 30px;
    transition: .3s;
    letter-spacing: normal;
    text-transform: capitalize;
    margin: 0 !important;
    color: #616161 !important;
}

.menu-wrapper .sub-menu-2 li a i {
    color: #555 !important;
    background: #fff !important;
    transition: .3s;
}






/* SPREADING THE SUB-MENU-2*/


.sub-menu-2 .drop-1{
    position: absolute;
    top: 0px;
    left: 400px;
    width: 130px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 20px 0px 20px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}


.sub-menu-2 li:hover .drop-1{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.sub-menu-2 .drop-1 li a{
    font-size: 12px !important;
    font-weight: 100 !important;
    line-height: 10px;
}


.sub-menu-2 .drop-1 li a:hover{
    margin-left: 5px !important;
}



/* DROP OFFLINE */


.drop-1 .drop-offline{
    position: absolute;
    top: 0px;
    left: 135px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 20px 0px 20px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}


.drop-1 li:hover .drop-offline{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-1 .drop-offline li a{
    font-size: 11px !important;
    font-weight: 100 !important;
    line-height: 13px;
}


/* drop-online */


.drop-1 .drop-online{
    position: absolute;
    top: -10px;
    left: 135px;
    width: 155px;
    height: 385px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-1 li:hover .drop-online{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-1 .drop-online li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}

























/* drop-kva-1 */


.drop-online .drop-kva-1{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-1{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-1 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-2 */


.drop-online .drop-kva-2{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-2{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-2 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-3 */


.drop-online .drop-kva-3{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-3{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-3 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-4 */


.drop-online .drop-kva-4{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-4{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-4 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-5 */


.drop-online .drop-kva-5{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-5{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-5 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}



/* drop-kva-6 */

.drop-online .drop-kva-6{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-6{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-6 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-7 */


.drop-online .drop-kva-7{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-7{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-7 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-8 */


.drop-online .drop-kva-8{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-8{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-8 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-9 */


.drop-online .drop-kva-9{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-9{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-9 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}



/* drop-kva-10 */


.drop-online .drop-kva-10{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-10{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-10 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-11 */


.drop-online .drop-kva-11{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-11{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-11 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-12 */


.drop-online .drop-kva-12{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-12{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-12 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-13 */


.drop-online .drop-kva-13{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-13{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-13 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-14 */


.drop-online .drop-kva-14{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-14{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-14 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-15 */


.drop-online .drop-kva-15{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-15{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-15 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-16 */


.drop-online .drop-kva-16{
    position: absolute;
    top: 0px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-16{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-16 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}


/* drop-kva-17 */


.drop-online .drop-kva-17{
    position: absolute;
    top: -13px;
    left: 155px;
    width: 155px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-online li:hover .drop-kva-17{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-online .drop-kva-17 li a{
    font-size: 12px !important;
    line-height: 6px;
    margin-left: 20%;
    font-weight: 100 !important;
}































/* DROP-ACCESS */


.drop-1 .drop-access{
    position: absolute;
    top: 0px;
    left: 135px;
    width: 180px;
    height: 239px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-1 li:hover .drop-access{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-1 .drop-access li a{
    font-weight: 100 !important;
    font-size: 12px !important;
}


.drop-1 .drop-access li a:nth-child(1){
    margin-bottom: 8px !important;
}



/* drop-pack */



.drop-access .drop-pack{
    position: absolute;
    top: 0px;
    left: 180px;
    width: 180px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-access li:hover .drop-pack{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


/* drop-ups */



.drop-access .drop-card{
    position: absolute;
    top: 0px;
    left: 180px;
    width: 180px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-access li:hover .drop-card{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


/* drop-parellal */


.drop-access .drop-parellal{
    position: absolute;
    top: 0px;
    left: 180px;
    width: 180px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-access li:hover .drop-parellal{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}



/* drop-rail */



.drop-access .drop-rail{
    position: absolute;
    top: 0px;
    left: 180px;
    width: 180px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-access li:hover .drop-rail{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}




/* drop-power */



.drop-access .drop-power{
    position: absolute;
    top: 0px;
    left: 180px;
    width: 180px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-access li:hover .drop-power{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}







/* DROP-2 */

.sub-menu-2 .drop-2{
    position: absolute;
    top: 0px;
    left: 280px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.sub-menu-2 li:hover .drop-2{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


.sub-menu-2 .drop-2 li a{
    font-size: 13px !important;
    line-height: 12px;
}

.sub-menu-2 .drop-2 li a:hover{
    margin-left: 5px !important;
}


/* drop-basic */


.drop-2 .drop-basic{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-2 li:hover .drop-basic{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


.drop-2 .drop-basic li a{
    font-size: 12px !important;
}



/* drop-metered */


.drop-2 .drop-metered{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}


.drop-2 li:hover .drop-metered{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.drop-2 .drop-metered li a{
    font-size: 12px !important;
}

/* drop-outlet */


.drop-2 .drop-outlet{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}


.drop-2 li:hover .drop-outlet{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


.drop-2 .drop-outlet li a{
    font-size: 12px !important;
}


/* drop-switched */


.drop-2 .drop-switched{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.drop-2 li:hover .drop-switched{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


.drop-2 .drop-switched li a{
    font-size: 12px !important;
}


/* DROP-3 */


.sub-menu-2 .drop-3{
    position: absolute;
    top: 0px;
    left: 280px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}


.sub-menu-2 li:hover .drop-3{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.sub-menu-2 .drop-3 li a{
    line-height: 10px !important;
    font-size: 13px !important;
}


.sub-menu-2 .drop-3 li a:hover{
    margin-left: 5px !important;
}


/* drop-rack */



.drop-3 .drop-rack{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-3 li:hover .drop-rack{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


/* Drop-acco */



.drop-3 .drop-acco{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-3 li:hover .drop-acco{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


/* acco-1 */


.drop-acco .acco-1{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-acco li:hover .acco-1{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

/* acc-2 */


.drop-acco .acco-2{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-acco li:hover .acco-2{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}



/* acc-3 */


.drop-acco .acco-3{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-acco li:hover .acco-3{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


/* acc-4 */


.drop-acco .acco-4{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-acco li:hover .acco-4{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


/* acco-5 */


.drop-acco .acco-5{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-acco li:hover .acco-5{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


/* acc-6 */


.drop-acco .acco-6{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-acco li:hover .acco-6{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

/* drop-7 */


.drop-acco .acco-7{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-acco li:hover .acco-7{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

/* acco-8 */

.drop-acco .acco-8{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-acco li:hover .acco-8{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}


/* acco-9 */


.drop-acco .acco-9{
    position: absolute;
    top: 0px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-acco li:hover .acco-9{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}



/* acco-10 */


.drop-acco .acco-10{
    position: absolute;
    top: -90px;
    left: 170px;
    width: 165px;
    background: #fff;
    transition: .3s;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px 0px 10px 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}



.drop-acco li:hover .acco-10{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}































/*------Inner sub-menu style--------*/

/* .menu-wrapper .sub-menu .inner-sub-menu {
    position: absolute;
    left: 265px;
    top: 65px;
    background: #000;
    width: 235px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: .5s;
    opacity: 0;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
    visibility: hidden;
}

.menu-wrapper .sub-menu li:hover .inner-sub-menu {
    top: 0;
    visibility: visible;
    opacity: 1;
}

.menu-wrapper .sub-menu .inner-sub-menu {
    padding: 15px 0;
}

.menu-wrapper .sub-menu .inner-sub-menu li {
    position: relative;
}

.menu-wrapper .sub-menu .inner-sub-menu li a {
    padding: 8px 15px;
    margin: 0 !important;
    color: #616161 !important;
}

.menu-wrapper .sub-menu .inner-sub-menu li:hover a {
    padding-left: 35px;
    color: #7744D9 !important;
}

.menu-wrapper .sub-menu .inner-sub-menu li a::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    height: 1px;
    width: 15px;
    background: #7744D9;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.menu-wrapper .sub-menu .inner-sub-menu li:hover a::after {
    visibility: visible;
    position: absolute;
    left: 8px;
    opacity: 1;
}

 */